.container {
 margin: 50px;
 margin-left: 200px;
}

.satu {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: solid;
    border-image-source: url("hearts.png");
    border-image-width: 20px;
    border-image-repeat: round;
    border-image-slice: 20 22;
    border-image-outset: 20px;
    box-shadow: 30px 30px 1px black;

}

.dua {
    background-color: rgb(16, 0, 235);
    width: 200px;
    height: 200px;
    margin: 20px;
    border: solid;
    border-image-source: url("border1.png");
    border-image-width: 30px;
    border-image-repeat:round;
    border-image-slice: 33 33;
    border-image-outset: 15px;
    box-shadow: 8px 8px 15px  black;

}